 <header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Bugra Gundogan ASP</h1>
            <p class="lead">Dünya'nýn en geliþmiþ alýþveriþ sitesi!</p>
        </div>
    </div>
</header>